.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}

.card-margin{
    margin: 10px;
}

.bottomdiv{
    justify-content: flex-end;
    display: flex;
}

.card-body{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.nav-item{
    padding: 5px;
}

.navbar-nav{
    flex-direction: row;
}